body {
  font-size: 26px;
}

.AllGreen {
  background: green;
}

.DummyBox {
  background: lightblue;
  padding: 20px;
  width: 100%;
  height: 300px;
}

[data-route="test-route-styles"] .DummyBox {
  background: lightgreen;
}
